/****************************************************************/
/*                      Basis document styling                  */
/****************************************************************/

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background: var(--color-yelow-background); */
    /* background: linear-gradient(#2b1055,#7597de); */
}







/****************************************************************/
/*                  ALGEMENE CUSTOM PROPERTIES                  */
/****************************************************************/ 

:root {
    --color-yelow-background: #ffeeb1;
    --color-firstscene-gradient: linear-gradient(#bee5f2,#ffeeb1)

}


/****************************************************************/
/*                         Eerste scene                         */
/****************************************************************/

section#firstscene {
    background: var(--color-firstscene-gradient);
}


.back_first_scene {
    width: 100%;
    height: auto;

    position: fixed;
    top: 0;

    z-index: 0;
}

.palen {
    position: fixed;

    width: 63%;
    height: auto;
}

.docent {

    position: fixed;

    width: 25%;
    height: auto;
    /* width: 290px;
    height: 872px; */
}

.kinderen {
    position: fixed;

    width: 19%;
    height: auto;
}
